
       body {
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      background: url('../../images/web back.jpg');
      background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

    }
    .wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .particule {
      position: absolute;
    }

    .image{
      height: 70vh !important;
      width: auto !important;
      position: absolute !important;
      top: 50% !important;
      left: 50% !important;
      transform: translate(-50%,-50%) !important;
      z-index: 999 !important;
    }
    .image img{
      height: 100% !important;
      width: auto !important;
    }
    @media screen and (max-width: 500px) {
      .image{
        height: 50vh;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
    }